scr/bhHarmonization/data/
scr/bhPrep
scr/swissforagePrep/data/
scr/xmlPrep/.idea
scr/xmlPrep/220422_Daten_Basket002_TID1.xml
scr/xmlPrep/__pycache__
scr/bhPrep/.idea
scr/bhPrep/__pycache__
scr/xmlPrep/bash_repl.py
scr/xmlPrep/GeolCode
scr/xmlPrep/ReplaceList_UUID.xlsx
scr/xmlPrep/ReplaceList.xlsx
scr/bhHarmonization/data/
scr/bhPrep/data/
scr/swissforagePrep/data/
scr/swissforagePrep/.idea
.idea


